aws-load-balancer-controller: 
  replicaCount: 1
  serviceAccount:
    create: true
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::157329022736:role/load-balancer-controller
    name: aws-load-balancer-controller
  clusterName: eks-production
