karpenter:
  replicas: 1
  serviceAccount:
    create: true
    name: "karpenter"
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::157329022736:role/karpenter
  tolerations: []
  settings:
    aws:
      clusterName: "eks-production"
      clusterEndpoint: "https://CF7E829FBD18353AE932B66822BD21F7.gr7.ap-southeast-1.eks.amazonaws.com"
      defaultInstanceProfile: "KarpenterNodeInstanceProfile-eks-production"
