spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    cluster: eks-production
  source:
    repoURL: https://github.com/tsocial/trustvision-argocd.git
    targetRevision: main
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
