name: Release projects helm charts

on:
  push:
    branches:
      - create-chart

env:
  HELM_REPO: thienchuong/argocd-apps

jobs:
  release-helm-chart:
    strategy:
      matrix:
        chart: [project-application]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 0

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          token: ${{ secrets.ORG_GITHUB_TOKEN }}
          filters: |
            charts:
              - charts/${{ matrix.chart }}/Chart.yaml
              - charts/${{ matrix.chart }}/**/*

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        if: steps.filter.outputs.charts == 'true' # run only if some file in 'charts' folder was changed
        with:
          version: v3.12.2
      
      - name: Push Helm chart to OCI compatible registry (Github)
        uses: bsord/helm-push@v4.1.0
        with:
          useOCIRegistry: false
          registry-url:  oci://ghcr.io/${{ env.HELM_REPO }}
          access-token: ${{ secrets.ORG_GITHUB_TOKEN }}
          username: ${{ github.actor }}
          force: true
          chart-folder: charts/${{ matrix.chart }}

      - name: Helm dependencies
        if: steps.filter.outputs.charts == 'true'
        run: |
          helm plugin install https://github.com/chartmuseum/helm-push.git || true

      - name: Package and push helm chart to Amazon ECR
        if: steps.filter.outputs.charts == 'true'
        env:
          REGISTRY_URL: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: project-application
        run: |
          export HELM_EXPERIMENTAL_OCI=1
          helm package charts/${{ matrix.chart }}
          helm inspect chart *.tgz
          helm push *.tgz oci://$REGISTRY_URL/
